@import "libs/normalize-scss/sass/_normalize.scss";
@import "libs/skeleton-sass/scss/_skeleton.scss";
@import "libs/skeleton-fontawesome-buttons/_fontawesome-buttons.scss";
@import "libs/skeleton-fontawesome-buttons/_skeleton-fontawesome-buttons.scss";


html {

    height: 100%;
    background: -webkit-linear-gradient(#fbc2eb, #a18cd1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fbc2eb, #a18cd1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fbc2eb, #a18cd1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fbc2eb, #a18cd1); /* Standard syntax (must be last) */
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
